<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyu.car4s.mapper.RoleMapper"><!-- 权限定名 -->
	<!-- <cache></cache> --><!-- 开启二级缓存 -->
	
	<select id="roleAll" parameterType="map" resultType="role">
		select * from t_4s_role where del_flag=1
			<if test="name !=null and name !=''">
				and name like concat ('%',#{name},'%')
			</if>
	</select>
	
	<update id="deleteRole">
		update t_4s_role set del_flag=0 where id in
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>	
		
	<insert id="insertRoleMenus">	
		insert into t_4s_role2menu(role_id,menu_id) values
		<foreach collection="menuIds" item="menuId" separator=",">
			(#{roleId},#{menuId})
		</foreach>
	</insert>
	
</mapper>
